.circle {
  margin: auto;
  display: block;
  height: 40px;
  width: 40px;
  background-color: lightcoral;
  border: none;
  border-radius: 50%;
  display: inline-block;
}

.line-wrapper {
  transition: 0.3s ease;
}

.horizontal, .vertical {
  width: 100%;
  height: 2px;
  background-color: green;
  pointer-event: none;
}

.vertical {
  position: relative;
  bottom: 2px;
  transform: rotate(90deg);
  transition: 0.3s ease;
}

.vertical.open {
  transform: rotate(180deg);
  
}

.line-wrapper.open {
  transform: rotate(180deg);
}