<!DOCTYPE html>
<html>

	<style>
		body 
		{  
        		background-color: lightblue;  
        	}  
                table, th, td 
                {
			border:1px solid black;
		}
	</style>

<body>

<center>
		<br/>
		<br/>
		<h1>Welcome to</h1>
                <h2>Small/Private-Laboratory Management Tool<h2>
		<br/>



<table style="width:50%">
  <tr>
    <th>Database Interaction</th>
    <th>Storage</th>
    <th>Data Analytics</th>
  </tr>
  <tr>
    <td><a href="createMySQLdb"><button>Create MySQL db</button></a></td>
    <td><a href="uploadS3"><button>Upload file to S3</button></a></td>
    <td><a href="MinandMaxSalaryByDept"><button>Min and Max Salary By Department</button></a></td>
  </tr>
  <tr>
    <td><a href="createTab"><button>Create Table</button></a></td>
    <td><a href="listS3buckets"><button>List Buckets</button></a></td>
    <td><a href="WorkloadComparisonGenericVsPrivate"><button>Workload Comparison Generic Vs Private Lab</button></a></td>
  </tr>
  <tr>
    <td><a href="populateTab"><button>Populate Table</button></a></td>
    <td></td>
    <td><a href="RochevsAbbottAnalysersComparison"><button>Roche vs. Abbott Analysers Performance</button></a></td>
  </tr>
  <tr>
    <td><a href="viewTab"><button>View Table</button></a></td>
    <td></td>
    <td><a href="RochevsAbbottAnalysersResultsComparison"><button>Roche vs. Abbott Analysers Results Analysis</button></a></td>
  </tr>

</table>
</center>

</body>
</html>
